{% extends "base.html" %}

{% block title %}
{{ article.title|striptags }}
{% endblock %}

{% block content %}
<article class="single article">
  <header>
    <h2 class="title">
      <a href="{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
      <span class="seperator">&raquo;</span>
      <time class="date" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
    </h2>

  </header>
  <section class="content">
    {{ article.content }}
  </section>
</article>
<section class="comments">
  <p>Submit a comment per email at <a href="mailto:phaer+blog@phaer.org">phaer+blog@phaer.org</a>.</p>
</section>
{% endblock %}
